.app {
    min-height: 100vh;
}

.app.dark {
    background-color: var(--dark-primary);
    color: var(--light-primary) !important;
}

.app.light {
    background-color: var(--light-primary);
    color: var(--dark-primary) !important;
}

.loader {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.loader::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: -76px 0 0 -76px;
    border: 16px solid transparent;
    border-radius: 50%;
    border-top: 16px solid var(--light-primary);
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}